@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

body {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

header{
    max-width: 100%;
    height: 70px;
    background-color: hsl(var(219), 48%, 8%);
    box-shadow: 0 -6px 10px 10px hsl(260, 100%, 75%);
}

nav {
    padding-right: 18px;
    padding-left: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 22px;
    font-weight: 400;
    color: hsl(260, 100%, 55%);
}

a {
    text-decoration: none;
    color: hsl(260, 100%, 55%);
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: rgba(73, 72, 72, 0.979);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 32px;
    max-height: 100%;
}

.nav-link {
    font-size: 20px;
    padding: 6px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: hsl(260, 100%, 80%);
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: hsl(260, 100%, 55%);
}

main {
    min-height: 100vh;
    min-width: 100vh;
}

.home-section {
    margin: 28px;
    min-height: 80vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-title {
    font-size: 56px;
    color: hsl(260, 100%, 55%);
}

.name {
    font-size: 42px;
    color: hsl(260, 100%, 60%);
    border-right: 5px solid hsl(260, 100%, 60%);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s, cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent}
}

@keyframes typing {
    from {width: 0}
}

.my-title {
    font-size: 26px;
    color: hsl(260, 100%, 70%);
    animation: opac 4s ease-in;
}

.home-btns {
    display: flex;
    gap: 14px;
    margin-top: 28px;
}

.home-about {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(260, 100%, 60%);
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 4px solid hsl(260, 100%, 60%);
    transition: all 0.3s;
}

.home-about:hover {
    transform: translateY(-5px);
    background-color: hsl(260, 100%, 60%);
    color: white;
}

.home-cv {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: hsl(260, 100%, 60%);
    border-radius: 5px;
    border: 4px solid hsl(260, 100%, 60%);
    transition: all 0.3s;
}

.home-cv:hover {
    transform: translateY(-5px);
    background-color: white;
    color: hsl(260, 100%, 60%);
}

@keyframes opac {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .menu-btn .bar:nth-child(2) {
        transition: all 0.7s ease-out;
    }

    .menu-btn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}