@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    /* background-color: hsl(260, 100%, 10%); */
    background-color: white;
}

.light-theme {
    background-color: hsl(260, 100%, 10%);
}

.light-theme header {
    background-color: hsl(260, 100%, 10%);
}

main{
    height: 100%;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

header{
    position: fixed;
    min-width: 100%;
    height: 70px;
    /* background-color: hsl(260, 100%, 10%); */
    background-color: white;
    box-shadow: 0 -6px 10px 10px hsl(260, 100%, 65%);
}

nav {
    padding-right: 18px;
    padding-left: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 22px;
    font-weight: 400;
    word-wrap: break-word;
    color: hsl(260, 100%, 60%);
}

a {
    text-decoration: none;
    color: hsl(260, 100%, 55%);
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: rgba(73, 72, 72, 0.979);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 32px;
    max-height: 100%;
}

.nav-link {
    font-size: 20px;
    padding: 6px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: hsl(260, 100%, 80%);
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: hsl(260, 100%, 55%);
}

main {
    height: 100%;
    width: 100%;
    /* background-color: hsl(260, 100%, 95%); */
}

.home-section {
    flex: 1;
    margin-left: 28px;
    margin-right: 28px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-section {
    flex: auto;
    margin: 28px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    word-wrap: break-word;
}

.projects-section {
    flex: auto;
    margin: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-section {
    flex: auto;
    margin: 28px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-title {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 56px;
    color: hsl(260, 100%, 55%);
    animation: loadHome 1s ease-in;
}

.change-theme {
    cursor: pointer;
    transition: transform .3s ease;
    animation: loadHome 1s ease-in;
}

.change-theme:hover {
    transform: translateY(-5px);
}

.home-text {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-container {
    display: flex;
    gap: 5rem;
}

.about-title {
    font-size: 56px;
    color: hsl(260, 100%, 55%);
    animation: loadHome 1s ease-in;
    margin-bottom: 22px;
}

.contact-title {
    font-size: 56px;
    color: hsl(260, 100%, 55%);
    animation: loadHome 1s ease-in;
    margin-bottom: 22px;
}

.name {
    font-size: 42px;
    color: hsl(260, 100%, 60%);
    border-right: 5px solid hsl(260, 100%, 60%);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s, cursor .4s step-end infinite alternate;
}

.about-skills {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 24px;
    margin-bottom: 38px;
}

.skill-container {
    width: 80px;
    height: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s;
}

.skill-container:hover {
    transform: translateY(-5px);
    color: white;
    box-shadow: .3rem .3rem 0 0 hsl(260, 100%, 40%);
}

.skill-name {
    color: hsl(260, 100%, 60%);
}

.skills-icon {
    font-size: 64px;
    color: hsl(260, 100%, 60%);
}

@keyframes cursor {
    50% {border-color: transparent}
}

@keyframes typing {
    from {width: 0}
}

.my-title {
    font-size: 26px;
    color: hsl(260, 100%, 70%);
    animation: loadHome 1s ease-in;
}

.project-title {
    font-size: 26px;
    color: hsl(260, 100%, 50%);
    animation: loadHome 1s ease-in;
    margin-bottom: 22px;
}

.home-btns {
    display: flex;
    gap: 14px;
    margin-top: 28px;
}

.home-about {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(260, 100%, 60%);
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 4px solid hsl(260, 100%, 60%);
    transition: all 0.3s;
    animation: loadHome 1s ease-in;
}

.home-about:hover {
    transform: translateY(-5px);
    background-color: hsl(260, 100%, 60%);
    color: white;
    box-shadow: .3rem .3rem 0 0 hsl(260, 100%, 40%);
}

.home-cv {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: hsl(260, 100%, 60%);
    border-radius: 5px;
    border: 4px solid hsl(260, 100%, 60%);
    transition: all 0.3s;
    animation: loadHome 1s ease-in;
}

.home-cv:hover {
    transform: translateY(-5px);
    background-color: transparent;
    color: hsl(260, 100%, 60%);
    box-shadow: .3rem .3rem 0 0 hsl(260, 100%, 40%);
}

@keyframes loadHome {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-links {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 28px;
}

.home-icon {
    color: hsl(260, 100%, 60%);
    font-size: 28px;
    transition: transform .3s ease;
    animation: loadHome 1s ease-in;
}

.home-icon:hover {
    transform: translateY(-5px);
}

.home__scroll {
    right: -1.5rem;
    bottom: 4rem;
    display: grid;
    gap: 3rem;
    justify-items: center;
    align-items: center;
    animation: loadHome 1s ease-in;
    transition: transform .5s ease;
}

.home__scroll:hover {
    transform: translateY(-10px);
}

.home__scroll-name{
    font-size: 18px;
    transform: rotate(-90deg);
}

.home__scroll-icon {
    font-size: 30px;
}

@keyframes opac {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.about-img {
    width: 200px;
    height: 200px;
    margin-bottom: 18px;
}

.about-info {
    max-width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about__description {
    color: hsl(260, 100%, 60%);
    font-size: 18px;
}

.project__description {
    color: hsl(260, 100%, 60%);
    font-size: 18px;
    margin-bottom: 24px;
}

.my-logo{
    max-width: 100%;
    max-height: 100%;
}

.project {
    display: flex;
    gap: 85px;
    margin-bottom: 42px;
}

.project2 {
    display: flex;
    gap: 85px;
    margin-bottom: 62px;
    margin-top: 32px;
}

.project-img {
    min-width: 50%;
    width: 600px;
    margin-bottom: 18px;
} 

.project-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 3rem 3rem 0 0 hsl(260, 100%, 40%);
}

.project-image2 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: -3rem 3rem 0 0 hsl(260, 100%, 40%);
}

.project-btns {
    display: flex;
    gap: 22px;
}

.live, .code {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform .3s ease;
    animation: loadHome 1s ease-in;
}

.live:hover, .code:hover {
    transform: translateY(-5px);
}

.project-icon {
    font-size: 26px;
    color: hsl(260, 100%, 40%);  
}

.contact__content {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact__title {
    text-align: center;
    font-size: 26px;
    color: hsl(260, 100%, 70%);
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    margin-bottom: 18px;
    outline: none;
    border: 2px solid hsl(260, 100%, 70%);
    border-radius: 5px;
    padding: 12px;
}

.light-theme input {
    background-color: hsl(260, 100%, 10%);
    color: hsl(260, 100%, 90%);
}

.contact__form {
    width: 60%;
}

.contact__form-area textarea {
    width: 100%;
    resize: none;
    outline: none;
    border: 2px solid hwb(260 40% 0%);
    border-radius: 5px;
    padding: 12px;
}

.light-theme .contact__form-area textarea {
    background-color: hsl(260, 100%, 10%);
    color: hsl(260, 100%, 90%);
}

.contact__card{
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
    box-shadow: 0 2px 16px hsl(260, 100%, 70%);
  }
  
  .contact__card-icon{
    font-size: 2rem;
    color: hsl(260, 100%, 70%);
    margin-bottom: .25rem;
  }

  .contact__card-title {
    color: hsl(260, 100%, 50%);
  }
  
  .contact__card-data{
    color: hsl(260, 100%, 55%);
    display: block;
    margin-bottom: .75rem;
  }

  footer {
    padding: 12px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
  }

  .socials {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 18px;
  }

  @media(max-width: 891px) {
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-info {
        width: 100%;
    }

    .project {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project2 {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-image, .project-image2 {
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact__content {
        display: flex;
        flex-direction: column;
    }

    .contact__form {
        width: 100%;
    }

    .name {
        overflow-wrap: break-word;
        font-size: 34px;
    }

    .home-title {
        font-size: 48px;
    }

    .my-title {
        font-size: 18px;
    }

    .logoImg {
        display: flex;
        align-items: flex-end;
    }

    .home-section {
        display: flex;
        justify-content: center;
    }
  }

  @media(max-width: 830px) {
    .about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-info {
        min-width: 80%;
    }

    .about__description {
        width: 80%;
    }

    .home__scroll {
        display: none;
    }

    .logoImg {
        display: none;
    }

    .about-skills {
        display: grid;
        grid-template-columns: repeat(3, 0.2fr);
        align-items: center;
        justify-content: center;
    }
  }

@media(max-width: 768px) {
    .home-text {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-btns, .social-links {
        justify-content: center;
    }

    .home-title, .my-title {
        display: flex;
        justify-content: center;
    }
    
    .name {
        display: flex;
        overflow-wrap: break-word;
    }

    .home-section {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .about-section {
        margin: 0;
        padding: 0;
    }

    .menu-btn {
        display: block;
    }

    .menu-btn .bar:nth-child(2) {
        transition: all 0.7s ease-out;
    }

    .menu-btn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .light-theme .nav-menu {
        background-color: hsl(260, 100%, 10%);
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

body::-webkit-scrollbar {
    width: 6px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 7px;
  }

  @media(max-width: 650px) {
    .name {
        font-size: 28px;
    }

    .project-img {
        min-width: 50%;
        width: 550px;
        margin-bottom: 18px;
    } 
  }

  @media(max-width: 535px) {
    .name {
        font-size: 22px;
    }

    .project-img {
        min-width: 50%;
        width: 500px;
        margin-bottom: 18px;
    } 
  }

  @media(max-width: 500px) {

    .project-img {
        min-width: 50%;
        width: 400px;
        margin-bottom: 18px;
    } 
  }

  @media(max-width: 420px) {
    .name {
        font-size: 19px;
    }
  }

  @media(max-width: 420px) {
    .about-skills {
        display: grid;
        grid-template-columns: repeat(2, 0.2fr);
        align-items: center;
        justify-content: center;
    }
  }

  @media(max-width: 400px) {

    .project-img {
        min-width: 50%;
        width: 350px;
        margin-bottom: 18px;
    } 
  }